%background{
    background-size: cover;
    background-repeat: no-repeat;
}

%button{
    width: 227px;
    height: 55px;
    border-radius: 5px;
    font-weight: bolder;
}

%main_first{
    display: flex;
    justify-content: center;
}